{% extends 'main.html' %}

{% block content %}


<form action="/registration/" method="POST">

    {% if messages[0] == "" %}
    <p align="left"><label>Имя*</label><input name="name" type="text" value="{{user_name}}" required></p>
    {% else %}
    <p align="left"><label>Имя*</label><input name="name" type="text" value="{{user_name}}" required>
        {{messages[0]}} </p>
    {% endif %}

    {% if messages[1] == "" %}
    <p align="left"><label>Логин*</label><input name="login" type="text" value="{{user_login}}" required></p>
    {% else %}
    <p align="left"><label>Логин*</label><input name="login" type="text" value="{{user_login}}" required>
        {{messages[1]}} </p>
    {% endif %}

    {% if messages[2] == "" %}
    <p align="left"><label>Пароль*</label><input name="password" type="password" required></p>
    {% else %}
    <p align="left"><label>Пароль*</label><input name="password" type="password" required> {{messages[2]}} </p>
    {% endif %}

    {% if messages[3] == "" %}
    <p align="left"><label>E-mail*</label><input name="email" type="text" value="{{user_email}}" required></p>
    {% else %}
    <p align="left"><label>E-mail*</label><input name="email" type="text" value="{{user_email}}" required>
        {{messages[3]}}</p>
    {% endif %}

    {% if messages[4] == "" %}
    <p align="left"><label>Возраст*</label><input name="age" type="text" value="{{user_age}}" required></p>
    {% else %}
    <p align="left"><label>Возраст*</label><input name="age" type="text" value="{{user_age}}" required>
        {{messages[4]}} </p>
    {% endif %}
    <p align="left">* Обязательные поля для заполнения</p>

    <div align="left">
        <input align="left" type="submit">
        <input align="left" type="reset">
    </div>

</form>


{% endblock %}