body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #782827;
    padding: 10px 0;
}

header p {
    color: #fff;
    text-align: right;
    margin-right: 20px;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.topnav li {
    margin: 0 15px;
}

.topnav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #782827;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.topnav a:hover {
    background-color: #c84342;
    color: #fff;
}

.content {
    padding: 20px;
    text-align: center;
}