<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <style>
        body {
            text-align: center;
            background-color: #f0f0f0;
        }
        h1 {
            color: #333;
        }
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Погода на сегодня в {{city}}</h1>
    <p>Погодные условия: {{conditions}}</p>
    <p>Текущая температура: {{temp}}°C, ощущается как {{feels_like}}°C</p>
    <p>Давление: {{pressure}} hPa</p>
    <p>Влажность: {{humidity}}%</p>

</body>
</html>