body {
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

i {
    margin-right: 10px;
}

header p {
    text-align: right;
    margin-right: 20px;
}

.two ul {
    background: #D4E7EE;
    overflow: hidden;
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

.two li {
    float: left;
}

.two a {
    display: block;
    padding: 1em;
    text-decoration: none;
    transition: .5s linear;
}

.two a:hover {
    background: #ADC0CE
}

.content {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}
