<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css//main.css') }}">
    <title>Document123</title>
</head>
<body>
    <h1>ТЕСТ2</h1>

    <a href="\view\">меню1</a>
    <a href="\view\">меню2</a>
    <a href="\view\">меню3</a>

    <a href="\view\">Просмотр</a>

    {% if admin %}
        <a href="\edit\">РЕДАКТИРОВАНИЕ</a>
    {% else %}
        <!-- <a href="\edit2\">РЕДАКТИРОВАНИЕ2</a> -->
    {% endif %}

    
    {% for user in users %}
        <p style="{% if user == 'user3' %} color:red; font-size:200%; {% endif %}">
            
            <!-- loop.index - номер итерации внутри for-->

            <!-- span тут нужен для того чтобы задать в css его ширину 
                 таким образом элемент с именем пользователя будет везде одинаковой ширины -->
            <span>{{loop.index}}. {{ user }}</span> 

            <!-- # создаем переменную file с именем файла и номером итерации на конце и
                 получаем таки образом  для каждого пользователя сою картинку-->
            {% set file = 'img/cat{}.jpg'.format(loop.index) %}
            <img src="{{ url_for('static', filename=file) }}" alt="pic1" width="50">
        </p>
    {% endfor%}



    <img src="{{ url_for('static', filename='img/cat.jpg') }}" alt="pic1" width="300">
    
</body>
</html>