<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form1/" method="POST">
      
      
        {% if err %}
            <!-- for  er in список ошибок -->
            <p style="color:red">{{err}}</p>
        {% endif %}
        
        <p>
            <label>Имя</label>
            <input name="name" type="text" maxlength="10" placeholder="name">
        </p>
        
        <p><input name="surname" type="text" placeholder="surname"></p>
        <p><input name="age" type="text" placeholder="age" value="{{val}}"></p>
        <p><input name="pass"  type="password" placeholder="password"></p>

        <!-- <input type="submit" value="OK"> -->
        <input type="submit">
        <input type="reset" >
    
        
    </form>
</body>
</html>