{% extends "base.html" %}

{% block main_menu %}
{{ super() }}
{% include 'quiz_menu.html' %}
{% endblock %}


{% block content1_head %}
<h2>КВИЗЫ <a class="button" href="#modal1">+</a></h2>

{% endblock %}

{% block content1 %}
<div class="quizes quiz_form">
    <div class="quiz-row quiz-hrow">
        <div class="quiz-col">№</div>
        <div class="quiz-col">Название</div>
        <div class="quiz-col">Сколько вопросов</div>
    </div>
    {% for q in quizes %}
    <a href="/quiz_edit/{{ q.id }}">
        <div class="quiz-row">
            <div class="quiz-col">{{ loop.index }}</div>
            <div class="quiz-col">{{ q.name }}</div>
            <div class="quiz-col">{{ len(q.question) }}</div>
        </div>
    </a>
    {% endfor %}
</div>

<!-- подгружаем модалку для добавления квиза  -->
<!-- { % include 'modal_quiz_add.html' '''%} -->

{% endblock %}

{% block content2_head %}
<h2>Вопросы <a class="button" href="#modal2">+</a></h2>
{% endblock %}


{% block content2 %}


<div class="questions quiz_form">

    <div class="question-row question-hrow">
        <div class="quiz-col">№</div>
        <div class="quiz-col">Вопрос</div>
        <div class="quiz-col">Ответ</div>
        <div class="quiz-col">Вариант 1</div>
        <div class="quiz-col">Вариант 2</div>
        <div class="quiz-col">Вариант 3</div>
    </div>
    {% for q in questions %}
    <a href="/question_edit/{{ q.id }}">
        <div class="question-row">
            <div class="quiz-col">{{ loop.index }}</div>
            <div class="quiz-col">{{ q.question }}</div>
            <div class="quiz-col">{{ q.answer }}</div>
            <div class="quiz-col">{{ q.wrong1 }}</div>
            <div class="quiz-col">{{ q.wrong2 }}</div>
            <div class="quiz-col">{{ q.wrong3 }}</div>
        </div>
    </a>
    {% endfor %}

</div>
<!-- подгружаем модалку для добавления вопроса  -->
<!-- { % include 'modal_question_add.html' '''%}     -->
{% endblock %}